.hidden-segment-value {
    display: none !important;
}

/** Style for div errors  **/
.show-errors {
    color: #AD5755;
    text-align: left;
    font-size: 14px;
    border: 1px solid #E0B4B4;
    background-color: #FFF6F6;
    border-radius: 3px;
}

/** Block for block styles **/

div.disabled-content {
    pointer-events: none;
    opacity: 0.5;
    background: #F3F3F3;
}


/** Block for text styles **/

.left_align {
    text-align: left;
}

.right_align {
    text-align: right;
}

.bold_text_title {
    font-weight: bolder !important;
}

.light_text_desc {
    font-weight: 100 !important;
}

.mini_messages_stars {
    float: left;
    color: red;
}

ul.list-defined {
    list-style-type: square;
}

.clear-floats {
    clear: both;
}

.deshabilitar_campo, .deshabilitar_campo_main {
    display: none !important;
}

.fisica_temp, .moral_temp {
    display: none !important;
}

.deshabilitar_boton {
    disabled: disabled !important;
}