/** MARGINS **/

.default-margin-top {
    margin-top: 1em !important;
}

.margin-top-segment {
    margin-top: 2em !important;
}

.margin-top-buttons {
    margin-top: .5em !important;
}

.margin-left-blocks {
    margin-left: 50px !important;
}

/** PADDINGS **/
 .ui.grid.removePadding > * {
     padding-left: 0rem;
     padding-right: 0rem;
 }
